/*^ CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*^ Generics */
body {
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 4rem;
    padding-top: 20px;
}

h2 {
    font-size: 2.1rem;
    padding-top: 40px;
}

h3 {
    font-size: 1.3rem;
    padding-top: 10px;
}

.btn:hover{
    scale: 1.1;
    box-shadow: 0 0 20px 5px white;

}

.link-text-decoration{
    text-decoration: underline;
}
/*^ Utils */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

main .top-container {
    max-width: 70%;
    margin: 0 auto;
}

main .center-container {
    max-width: 60%;
    margin: 0 auto;



}

footer .container {
    max-width: 70%;
    margin: 0 auto;

    border: 1px dotted white;
}

.btn {
    color: black;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid;
}

.btn-small {
    padding: 5px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 200px;
    

}

.spacing-dw {
    margin-bottom: 40px;
}


/*^ Header */
.nav-header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background-color: white;
}


.menu-nav {
    flex-basis: 30%;
    margin: 10px 10px 10px 10px;
}
.menu-nav a{
    color: black;
}
.menu-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav li {
    font-size: 13PX;
}

.btn-nav {
    color: white;
    background-color: rgb(0, 97, 255);
    border: transparent;
}

#btn-link-start{
    color: white;
}

/*^ Main */
/** Section jumbotron  */

.jumbotron {
    background-color: rgb(180, 208, 231);
    padding-top: 40px;
    height: 600px;
}

.jumbo {
    display: flex;
    padding-top: 40px;
}

/** Jumbotron - text column rules */
.text-col {
    flex-basis: 40%;
    font-size: 13px;
    padding-right: 50px;
}

.jumbo-btn {
    color: white;
    background-color: rgb(0, 97, 255);
    display: inline-block;
    border: transparent;
    margin: 40px 0;
}

/** Jumbotron - img column rules */
.img-col {
    flex-basis: 60%;
}

/** Section monthly plans */
#monthly-plans {
    margin-top: 35px;
}

/** Monthly plans - section checkbox */
.checkbox-billing {
    display: flex;
    margin: 30px 0;
    font-size: 13px;
    align-items: center;
}

.checkbox-icon-ticked {
    color: rgb(0, 97, 255);
    margin-right: 10px;
}

.checkbox-icon-unticked {
    color: rgb(0, 97, 255);
    margin: 0 10px 0 50px
}

/** Monthly plans - section plans grid  */
.plans {
    gap: 30px;
}

.plans-col {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 60px / 3);
}

.full-plans-col {
    flex-basis: 100%;
}


/** Plans - cards content rules  */
.card-title {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;


    border: 1px solid lightgray;
}

.card-title i {
    margin-right: 10px;
}

.top-price{
    font-weight: 800;
}

.top-plan{
    color: rgb(165, 163, 163);
}

.plans-card {
    font-size: 13px;
    border: 1px solid lightgray;
}


.plan-price {
    padding: 15px 15px 0 15px;
    margin-bottom: 30px;
}

.promotions {
    padding: 15px 15px 0 15px;
    margin-bottom: 30px;
}

.icons-list li{
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.plan-recap {
    padding: 15px;
    margin-top: 30px;
}


.plans-card li {
    margin: 16px 0;
}

.plans-card i {
    margin-right: 10px;

}

.custom-color {
    color: rgb(0, 97, 255);
}

.plans-card hr {
    width: 20%;
    margin-left: 20px;
    color: lightgray;
}



/** Plans - btn rules */
.btn-plans {
    color: white;
    background-color: rgb(0, 97, 255);
    display: block;
    text-align: center;
}


/** Plans - full card rules */
.full-card-title{
    text-align: center;
}

.top-card{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0 15px;
}

.btn-full-card{
    display: inline-block;
}

.center-card{
    padding: 10px 400px 0 15px;
}

.center-card p{
    margin: 30px 0;
}

/** Section dropbox-partners  */
.partners {
    margin: 100px 0;
}

.partners-img {
    padding: 0 30px 30px 0;
}

.partners-card h3 {
    padding-top: 50px;
}

.partners-card p {
    margin-top: 20px;
    padding-right: 30px;
}

.partners-btn {
    margin-top: 40px;
}
/** Section dropbox-busines */
.dropbox-business {
    gap: 10px;
}

#dropbox-business h2{
    padding-bottom: 20px;
}


.col-dropbox-business {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 20px / 3);

}

.card-dropbox-business{
    padding: 15px;
}


.card-dropbox-business p{
    font-size: 13px;
    padding-top: 20px;
}

/** Section partners - partners title */
#title-partners{
    padding-right: 300px;
    margin-bottom: 100px;
}

.clients-title{
    margin-top: 80px;
}


.clients-link{
    font-size: 13px;
    margin-top: 30px;
}

/* * Section parners - grid */
#partners-grid{
    display: flex;
    margin: 50px 0;
}


.partners-column{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;

    border: 1px dotted;

}

.partners-card{
    width: 50%;
    height: 50%;;
    display: flex;
    align-items: center;
    justify-content: center;

}

.partners-card img{
    width: 50%;
    filter: invert(1);
}

 .center-column{
    background-color: rgb(245, 245, 245);
    padding: 30px;
}

.center-column-logo{
    max-width: 50%;
}

.bg-cards-green{
    background-color: rgb(162, 211, 155);

}
.bg-cards-purple{
    background-color: rgb(97, 8, 43);

}

.bg-cards-lightblu{
    background-color: rgb(0, 147, 206);

}

.bg-cards-red{
    background-color: rgb(255, 28, 28);

}

.bg-cards-lilla{
    background-color: rgb(180, 208, 231);

}

.bg-cards-blu{
    background-color: rgb(13, 36, 129);

}

.bg-cards-yellow{
    background-color: rgb(255, 216, 48);

}