/*^ CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*^ Generics */
body {
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 4rem;
    padding-top: 20px;
}

h2 {
    font-size: 2.3rem;
    padding-top: 30px;
}

h3 {
    font-size: 1.3rem;
    padding-top: 10px;
}

/*^ Utils */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

main .top-container {
    max-width: 70%;
    margin: 0 auto;
}

main .center-container {
    max-width: 60%;
    margin: 0 auto;

}

footer .container {
    max-width: 70%;
    margin: 0 auto;

    border: 1px dotted white;
}

.btn {
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid;
}

.btn-small {
    padding: 5px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 200px;

}

.spacing-dw {
    margin-bottom: 40px;
}

/*^ Header */
.nav-header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    background-color: white;
}


.menu-nav {
    flex-basis: 30%;
    margin: 10px 10px 10px 10px;
}
.menu-nav a{
    color: black;
}
.menu-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav li {
    font-size: 13PX;
}

.btn-nav {
    color: white;
    background-color: rgb(0, 97, 255);
    border: transparent;
}

/*^ Main */
/** Section jumbotron  */

.jumbotron {
    background-color: rgb(180, 208, 231);
    padding-top: 40px;
    height: 600px;
}

.jumbo {
    display: flex;
    padding-top: 40px;
}

/** jumbotron - text column rules */
.text-col {
    flex-basis: 40%;
    font-size: 13px;
    padding-right: 50px;
}

.jumbo-btn {
    color: white;
    background-color: rgb(0, 97, 255);
    display: inline-block;
    border: transparent;
    margin: 40px 0;
}

/**jumbotron - img column rules */
.img-col {
    flex-basis: 60%;
}

/** Section monthly plans */
#monthly-plans {
    margin-top: 35px;
}

/** Section checkbox monthly plans */
.checkbox-billing {
    display: flex;
    margin: 30px 0;
    font-size: 13px;
    align-items: center;
}

.checkbox-icon-ticked {
    color: rgb(0, 97, 255);
    margin-right: 10px;
}

.checkbox-icon-unticked {
    color: rgb(0, 97, 255);
    margin: 0 10px 0 50px
}

/** Section plans grid  */
.plans {
    gap: 30px;
}

.plans-col {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3 - 60px / 3);
}

.full-plans-col {
    flex-basis: 100%;

    border: 1px dotted;
}


/** plans - cards content rules  */
.card-title {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;


    border: 1px solid lightgray;
}

.card-title i {
    margin-right: 10px;
}


.plans-card {
    font-size: 13px;
    border: 1px solid lightgray;
}

.plan-price {
    padding: 15px 15px 0 15px;
    ;
    margin-bottom: 30px;
}

.promotions {
    padding: 15px 15px 0 15px;
    margin-bottom: 30px;
}

.plan-recap {
    padding: 15px;
    margin: 30px 0 150px;
}


.plans-card p {
    margin: 12px 0;
}

.plans-card i {
    margin-right: 10px;

}

.custom-color {
    color: rgb(0, 97, 255);
}

.plans-card hr {
    width: 20%;
    margin-left: 20px;
    color: lightgray;
}



/** Plans - btn rules */
.btn-plans {
    color: white;
    background-color: rgb(0, 97, 255);
    display: block;
    text-align: center;
}

/** plans - full card */



.full-card-title{
    text-align: center;
}

.top-card{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0 15px;
}

.btn-full-card{
    display: inline-block;
}

.center-card{
    padding: 10px 400px 0 15px;
}

.center-card p{
    margin-top: 30px;
}

/** Section dropbox-partners  */
.partners {
    margin-top: 100px;
}

.partners-img {
    padding: 0 30px 30px 0;
}

.partners-card h3 {
    padding-top: 50px;
}

.partners-card p {
    margin-top: 20px;
    padding-right: 30px;
}

.partners-btn {
    margin-top: 40px;
}